{% extends 'layout/layout.html.twig' %}
{% block body %}
{% for message in app.flashes('note') %}
    <div class="flash-notice">
        <h2>{{ message }}</h2>
    </div>
{% endfor %}
{% if list is empty %}
<h2>
    Le panier de
    {{ app.user.username }}
    est vide.
</h2>
{% else %}
<h2>
    Le panier de 
    {{ app.user.username }} contient :
</h2>

<div>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>
            {% for key,item in list %}
                <tr>
                    <td class="col-xs-3">{{ item.title }}</td>
                    <td class="col-xs-4">{{ item.description }}</td>
                    <td class="col-xs-2">{{ item.price }}</td>
                    <td class="text-center col-xs-1">
                        <a href="/cart/delete/{{ key }}">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </a>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

<a href="/command/valid"><button class="btn btn-success">Passer la commande</button></a>

</div>

{% endif %}
{% endblock %}