{% extends 'layout/layout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
<h1>Gestion de la carte</h1>
<h2>Modification d'un plat</h2>
<div>
{{ form_start(form) }}
<div class="col-xs-3">
    {{ form_label(form.title) }}
    {{ form_widget(form.title)}}
</div>
<div class="col-xs-4">
    {{ form_label(form.description) }}
    {{ form_widget(form.description)}}
</div>
<div class="col-xs-2">
    {{ form_label(form.price) }}
    {{ form_widget(form.price)}}
</div>
<div class="col-xs-3">
    <br>
    {{ form_widget(form.save,{'attr': {'class': 'btn btn-success'}}
    )}}
</div>

{{ form_end(form) }}
    
</div>
{% endblock %}